doctype html
html
  head
    meta(charset='UTF-8')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/main.css')
    - if (app.get('isDevelopment') === true)
      script(src='http://localhost:35729/livereload.js')
  body
    #editor_container
      #editor
        - for paragraph_content, paragraph_name in manifest.manifest.__content__
          .block
            - for content, template in paragraph_content
              .item(data-template=template, contenteditable)= content.trim()
    #preview_container
      #preview
    .clearfix
    a(href='/build') 下载
    #info
