doctype html
html
  head
    meta(charset='UTF-8')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/main.css')
    - if (app.get('isDevelopment') === true)
      script(src='http://localhost:35729/livereload.js')
  body
    .wrapper
      .split.split-1
        #info_container
          #info
      .split.split-2
        #main_container
          #main
      .clearfix
    //- #editor_container
    //-   #editor
    //- #preview_container
    //-   #preview
    //- .clearfix
    //- a(href='/build') 下载
    //- #info
