html, body {
  margin: 0;
  padding: 0;
}
#main_container {
  padding: 30px;
}
#main {
  .item:hover {
    background: #F3F3F3;
  }
  .editing {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #CCC;
    padding: 10px;
    overflow: scroll;
  }
}
#editor_container {
  float: left;
  width: 50%;
  height: 600px;
  overflow: scroll;
}
#editor {
  padding: 10px;
  .block {
    margin: 15px 0;
    .item {
      white-space: pre-wrap;
      font-family: monospace;
      font-size: 14px;
    }
  }
}
#preview_container {
  float: left;
  width: 50%;
  height: 600px;
  overflow: scroll;
}
#preview {
  padding: 10px;
}
.clearfix {
  clear: both;
}
.label {
  display: inline-block;
  width: 80px;
  height: 19px;
  line-height: 19px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  padding: 2px 5px;
}
.input {
  margin-left: 20px;
}
input, select {
  width: 150px;
}
#info {
  margin: 0 0 50px;
}
